:root {
    --color_green_dark: #27AE60;
    --color_green_light: #2ECC71;
    --color_yellow_dark: #F7B731;
    --color_yellow_light: #FED330;
    --color_red_dark: #C0392B;
    --color_red_light: #E74C3C;
    --color_blue_dark: #2C3E50;
    --color_blue_light: #34495E;
    --background: #ECF0F1;
    --text_dark: #000000;
    --text_light: #FFFFFF;
    --fullheight-width: calc(100vh - (3.25rem - .75rem));
    --placeholder-dark: #777;
}

.background-as-given {
    background: var(--background);
}

.background-green-dark {
    background: var(--color_green_dark) !important;
}

.background-green-light {
    background: var(--color_green_light) !important;
}

.background-yellow-dark {
    background: var(--color_yellow_dark) !important;
}

.background-blue-dark {
    background: var(--color_blue_dark) !important;
}

.background-red-dark {
    background: var(--color_red_dark) !important;
}

.background-withe {
    background: #FFFFFF !important;
}

.text-light {
    color: var(--text_light) !important;
}

.text-green-dark {
    color: var(--color_green_dark) !important;
}

.text-green-light {
    color: var(--color_green_light) !important;
}

.text-red-light {
    color: var(--color_red_light);
}

.no-border {
    border-width: 0px;
}

.has-border {
    border-style: solid;
    border-width: 2px;
}

.placeholder-is-light::-moz-placeholder {
    color: var(--text_light);
}

.placeholder-is-light::-webkit-input-placeholder {
    color: var(--text_light);
}

.placeholder-is-light::-ms-input-placeholder {
    color: var(--text_light);
}

.placeholder-is-dark::-moz-placeholder {
    color: var(--placeholder-dark);
}

.placeholder-is-dark::-webkit-input-placeholder {
    color: var(--placeholder-dark);
}

.placeholder-is-dark::-ms-input-placeholder {
    color: var(--placeholder-dark);
}

.center-vertical {
    display: grid;
    align-items: center;
}

.center-alingn {
    text-align: -moz-center;
    text-align: -webkit-center;
    text-align: -ms-center;
}

.center,
.center-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 769px) {
    .center-tablet {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.center-text {
    align-self: center;
}

.flex-right {
    margin-left: auto !important;
}

.center-column {
    flex-direction: column;
}

.burger-item {
    color: var(--text_light);
    width: 50px;
    height: 50px;
}

.columns.is-fullheight {
    min-height: var(--fullheight-width);
    max-height: var(--fullheight-width);
    height: var(--fullheight-width);
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.columns.is-fullheight .column {
    overflow-y: auto;
}

.is-fullwidth {
    width: 100%;
}

.top-border-green-light {
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: var(--color_green_light);
}

.sidemenu-element {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: var(--color_blue_light);
}

.sidemenu-element:hover,
.sidemenu-element a:hover {
    background: var(--color_blue_light);
}

.sidemenu-element .bottom {
    border-bottom-width: 1px;
}

.text-is-right {
    text-align: right;
}

.has-margin-maincontent {
    margin: 2vh 1.5vw;
}

.columns-with-margin>.column {
    padding: 0;
    margin: 0.75rem;
}

.is-inline-grid {
    display: inline-grid !important;
}

.notification {
    padding: 1.25rem 1.5rem;
}

.title.has-subtext {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.title.has-subtext+.subtext {
    padding-top: 0px;
    padding-bottom: 2rem;
}

.has-overflow-y {
    overflow-y: auto;
}

html {
    background: var(--background);
}

body {
    color: var(--text_dark);
}

@media (min-width: 1088px) {
    #navbar-brand {
        width: 19.25rem;
    }
}

#sidemenu-elementlist {
    margin-top: 30%;
}

#navbar {
    margin-right: 30px;
}

#navbar-brand-text {
    margin-left: 1rem;
}

#placeholder-sidemenu {
    width: 20rem;
}