{{ define "navbar" }}

<div class="navbar-brand">
    <a id="navbar-brand" class="navbar-item background-green-dark" href=".">
        <img src="/static/res/Logo/Logo.svg" />
        <h2 id="navbar-brand-text" class="is-size-4-tablet is-size-6 text-light">
            <strong class="text-light">Brain</strong>Train
        </h2>
    </a>

    <a class="navbar-burger burger" data-target="navbar">
        <span class="burger-item" aria-hidden="true"></span>
        <span class="burger-item" aria-hidden="true"></span>
        <span class="burger-item" aria-hidden="true"></span>
    </a>
</div>

<div id="navbar" class="navbar-menu">
    <div class="navbar-start">

        <div class="navbar-item navbar-burger">
            <span class="burger-item" aria-hidden="true"></span>
            <span class="burger-item" aria-hidden="true"></span>
            <span class="burger-item" aria-hidden="true"></span>
        </div>

    </div>

    <div class="navbar-end">
        <form id="form-login" class="navbar-item is-paddingless">
            <div class="navbar-item control">
                <input id="input-username" class="input is-small background-green-light text-light placeholder-is-light"
                    type="text" placeholder="Nutzername" required="required" />
            </div>
            <div class="navbar-item control">
                <input id="input-password" class="input is-small background-green-light text-light placeholder-is-light"
                    type="password" placeholder="Password" required="required" />
            </div>
            <div class="navbar-item">
                <button id="button-login" class="button is-small background-yellow-dark no-border text-light" type="submit">
                    <strong>Login</strong>
                </button>
            </div>
        </form>
        <div class="navbar-item">
            <button class="button is-small background-green-light no-border text-light">Registrieren</button>
        </div>
    </div>
</div>

{{ end }}