# saas cache
.sass-cache/

# vscode
.vscode

# test files
test.html
css/test.css

# Dolphin
.directory

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# gin
gin-bin

# binary
web