{{ define "navbar" }}

<div class="navbar-brand">
    <a id="navbar-brand" class="navbar-item background-green-dark" href="/">
        <img src="/static/res/Logo/Logo.svg" />
        <h2 id="navbar-brand-text" class="is-size-4-tablet is-size-6 text-light">
            <strong class="text-light">Brain</strong>Train
        </h2>
    </a>

    <a class="navbar-burger burger" data-target="navbar">
        <span class="burger-item" aria-hidden="true"></span>
        <span class="burger-item" aria-hidden="true"></span>
        <span class="burger-item" aria-hidden="true"></span>
    </a>
</div>

<div id="navbar" class="navbar-menu">
    <div class="navbar-start">

        <div class="navbar-item navbar-burger">
            <span class="burger-item" aria-hidden="true"></span>
            <span class="burger-item" aria-hidden="true"></span>
            <span class="burger-item" aria-hidden="true"></span>
        </div>

    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <form action="/karteikasten/edit">
                <button class="button is-small background-yellow-dark no-border text-light" type="submit">
                    <strong>Neue Kartei</strong>
                </button>
            </form>
        </div>
        <div class="navbar-item">
            <ul style="line-height: 1.1;">
                <li><strong id="navbar-username" class="text-light">{{ .Name }}</strong></li>
                <li class="text-is-right"><a id="button-logout" class="text-light" style="font-size: 90%;">Logout</a>
                </li>
            </ul>
        </div>
        <figure class="image" style="padding: 0px; display: flex; align-items: center;">
            <img src="{{ .Bild }}" class="is-rounded background-blue-light" style="height: 44px; width: 44px;" />
        </figure>
    </div>
</div>

{{ end }}