<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lernen</title>

    <link rel="icon" href="/static/res/Favicons/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/styleguide.css">
    <link rel="stylesheet" href="/static/css/hexagon.css">
    <link rel="stylesheet" href="/static/css/grids/lern-grid.css">
    <link rel="stylesheet" href="/static/css/headline.css">

    <!-- <link rel="stylesheet" href="css/debug.css"> -->

    <style>
        #form {
            margin: 2rem 2rem 2rem 0px;
        }

        .notification {
            padding: 0.5rem 0.75rem;
        }

        .field-label {
            min-width: 5rem;
            max-width: 5rem;
        }

        .sized {
            height: 27vh;
        }

        .sized.buttons {
            height: calc(27vh - 1.5rem);
        }

        .button-size {
            width: calc(6em + 3vw);
        }

        .hexagon.is-small {
            margin-left: 0.5rem;
        }
    </style>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/scripts/sha512.min.js"></script>
    <script type="text/javascript" src="/static/scripts/script.js"></script>
    <script type="text/javascript" src="/static/scripts/lernen.js"></script>

</head>

<body>
    <header>
        <nav id="placeholder-navbar" class="navbar background-green-light">{{ template "navbar" .Navbar}}</nav>
    </header>

    <div class="columns is-fullheight">

        <aside id="placeholder-sidemenu"
            class="menu column is-narrow is-sidebar-menu is-hidden-touch background-blue-dark no-padding">
            {{ template "sidemenu" .Sidemenu }}
        </aside>

        <main class="column is-flex">

            <section id="grid" class="is-fullwidth has-margin-maincontent">
                <div id="description">
                    <h1 class="title has-subtext">Lernen</h1>
                    <p class="subtext">Hier wird dir zufällig eine Karte aus der gewählten kartei angezeigt.</p>
                </div>

                {{ block "headline" .Headline }}
                <div id="headline" class="top-border-green-light background-withe">
                    <div class="headline-item">
                        <p class="headline-title">Name</p>
                        <p><strong>{{ .Name }}</strong></p>
                    </div>
                    <div class="headline-item">
                        <p class="headline-title">Kategorie</p>
                        <p>
                            <strong>
                                {{ .Kategorie }}
                                <span class="icon is-small">
                                    <i class="fas fa-caret-right"></i>
                                </span>
                                {{ .SubKat }}
                            </strong>
                        </p>
                    </div>
                    <div class="headline-item">
                        <p class="headline-title">Fortschritt</p>
                        <p><strong>{{ .Fortschritt }} %</strong></p>
                    </div>
                    <div id="status" class="headline-item">
                        <div>
                            <p class="headline-title">Wiederholung</p>
                            <p class="headline-title">Karten</p>
                        </div>
                        <div>
                            <p class="headline-title">0</p>
                            <p class="headline-title"><strong>{{ .A0 }}</strong></p>
                        </div>
                        <div>
                            <p class="headline-title">1</p>
                            <p class="headline-title"><strong>{{ .A1 }}</strong></p>
                        </div>
                        <div>
                            <p class="headline-title">2</p>
                            <p class="headline-title"><strong>{{ .A2 }}</strong></p>
                        </div>
                        <div>
                            <p class="headline-title">3</p>
                            <p class="headline-title"><strong>{{ .A3 }}</strong></p>
                        </div>
                        <div>
                            <p class="headline-title">4</p>
                            <p class="headline-title"><strong>{{ .A4 }}</strong></p>
                        </div>
                    </div>
                    <div class="headline-item">
                        <div class="hexagon">
                            <div class="count">
                                <p>{{ .Anzahl }}</p>
                                <span>Karten</span>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}

                <div id="build" class="top-border-green-light background-withe ">
                    <div id="form">

                        <div class="field is-horizontal">
                            <div class="field-label center-vertical">
                                <label class="label">Titel</label>
                            </div>
                            <div class="field-body">
                                <span id="edit-input-title" class="center-vertical" type="text" placeholder="Titel">
                                    <strong>{{ .Titel }}</strong>
                                </span>
                                <div class="hexagon is-small flex-right {{ if not .F0 }} is-inactive {{ end }}">
                                    <div class="count-single">
                                        <p id="edit-text-anzahl">0</p>
                                    </div>
                                </div>
                                <div class="hexagon is-small {{ if not .F1 }} is-inactive {{ end }}">
                                    <div class="count-single">
                                        <p id="edit-text-anzahl">1</p>
                                    </div>
                                </div>
                                <div class="hexagon is-small {{ if not .F2 }} is-inactive {{ end }}">
                                    <div class="count-single">
                                        <p id="edit-text-anzahl">2</p>
                                    </div>
                                </div>
                                <div class="hexagon is-small {{ if not .F3 }} is-inactive {{ end }}">
                                    <div class="count-single">
                                        <p id="edit-text-anzahl">3</p>
                                    </div>
                                </div>
                                <div class="hexagon is-small {{ if not .F4 }} is-inactive {{ end }}">
                                    <div class="count-single">
                                        <p id="edit-text-anzahl">4</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">Frage</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="sized">
                                        {{ .Frage }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">Antwort</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div id="answer" class="sized is-hidden">
                                        {{ .Antwort }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="button-1">
                            <div class="field is-horizontal">
                                <div class="field-label"></div>
                                <div class="field-body">
                                    <div class="field">
                                        <div id="edit-button-next" class="control center">
                                            <div class="buttons sized">
                                                <button id="lern-button-aufdecken"
                                                    class="button background-yellow-dark text-light is-xxl"
                                                    type="submit">
                                                    <strong>Aufdecken</strong>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-label"></div>
                                <div class="field-body">
                                    <div class="field">
                                        <div id="edit-button-next" class="control">
                                            <div class="buttons">
                                                <button id="lern-button-skip"
                                                    class="button background-yellow-dark text-light flex-right">
                                                    <strong>Überspringen</strong>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="button-2" class="field is-horizontal is-hidden">
                            <div class="field-label"></div>
                            <div class="field-body">
                                <div class="field">
                                    <div id="edit-button-next" class="control center">
                                        <div id="card-info" class="buttons" index="{{ .Index }}">
                                            <button id="lern-button-richtig"
                                                class="button button-size background-green-light text-light">
                                                <strong>Richtig</strong>
                                            </button>
                                            <button id="lern-button-falsch"
                                                class="button button-size background-red-light text-light">
                                                <strong>Falsch</strong>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </section>

        </main>

    </div>

</body>

</html>