<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Karteikasten erstellen/bearbeiten</title>

    <link rel="icon" href="/static/res/Favicons/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/styleguide.css">
    <link rel="stylesheet" href="/static/css/grids/profile-grid.css">

    <!-- <link rel="stylesheet" href="css/debug.css"> -->

    <style>
        #form {
            margin: 2rem 2rem 2rem 0px;
        }

        .notification {
            padding: 0.5rem 0.75rem;
        }

        #profil-button-edit {
            margin-top: 0.25rem;
            width: 128px;
        }

        .help {
            text-align: left;
            align-self: center;
            color: var(--color_red_light);
        }

        .front {
            text-align: right;
            margin-right: 1rem;
            align-self: center;
        }

        #sidemenu-element-profil {
            background: var(--color_blue_light);
        }
    </style>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/scripts/script.js"></script>

    <script>
        $(document).ready(function () {
            $('#profil-button-delete').click(function () {
                $('#modal').toggleClass("is-active", true);
            });
            $('#profil-modal-button-keep').click(function () {
                $('#modal').toggleClass("is-active", false);
            });
        })
    </script>

</head>

<body>
    <header>
        <nav id="placeholder-navbar" class="navbar background-green-light">{{ template "navbar" .Navbar }}</nav>
    </header>

    <div class="columns is-fullheight">

        <aside id="placeholder-sidemenu"
            class="menu column is-narrow is-sidebar-menu is-hidden-touch background-blue-dark no-padding">
            {{ template "sidemenu" .Sidemenu }}
        </aside>

        <main class="column is-flex">

            <section id="grid" class="is-fullwidth has-margin-maincontent">
                <div id="description">
                    <h1 class="title has-subtext">Mein Profil</h1>
                    <p class="subtext">Hier kannst du eine Profildaten aktualisieren oder ändern.</p>
                </div>

                <div id="overview" class="top-border-green-light">
                    <div class="card text-is-center">
                        <div class="card-image is-inline-block">
                            <figure class="image is-128x128">
                                <img class="is-rounded background-blue-light" src="{{ .Bild }}" alt="Placeholder image"
                                    style="margin-top: 0.5rem;">
                            </figure>
                            <button id="profil-button-edit" class="button background-yellow-dark text-light">
                                <strong>Edit</strong>
                            </button>
                        </div>
                        <div class="card-content">
                            <h2 class="title" style="margin-bottom: 0.5rem">{{ .Name }}</h2>
                            <p>{{ .Email }}</p>
                        </div>
                    </div>
                </div>

                <div id="statistic" class="top-border-green-light background-withe">
                    <div id="statistic-grid" style="margin: 1rem;">
                        <p class="subtitle" style="grid-column: span 2"><strong>Statistik</strong></p>
                        <span>Erstellte Karten:</span>
                        <span>{{ .Karten }}</span>
                        <span>Erstellte Karteien:</span>
                        <span>{{ .Karteien }}</span>
                        <span>Mitglied seit:</span>
                        <span>{{ .Seit }}</span>
                    </div>
                </div>

                <div id="edit" class="top-border-green-light background-withe">
                    <div id="form" style="margin: 1.5rem">
                        <p id="edit-title" class="subtitle"><strong>Update der Profildaten</strong></p>
                        <p id="edit-mail-label" class="front">Neue E-Mail</p>
                        <p id="edit-mail-input" class="control"> <input class="input" type="email" /> </p>
                        <p id="edit-mail-help" class="help">Diese Mail ist bereits vergeben!</p>
                        <p id="edit-oldpw-label" class="front">Altes Password</p>
                        <p id="edit-oldpw-input" class="control"> <input class="input" type="password" /> </p>
                        <p id="edit-newpw-label" class="front">Neues Password</p>
                        <p id="edit-newpw-input" class="control"> <input class="input" type="password" /> </p>
                        <p id="edit-newpw-help" class="help" style="align-self: center;">
                            Altes Password darf nicht mit neuem übereinstimmen!
                        </p>
                        <p id="edit-reppw-label" class="front">Password Wiederholen</p>
                        <p id="edit-reppw-input" class="control"> <input class="input" type="password" /> </p>
                        <div id="edit-button-save" class="buttons center">
                            <button class="button is-large background-yellow-dark text-light button-lernen">
                                <strong>Speichern</strong>
                            </button>
                        </div>
                        <div id="edit-button-delete" class="buttons center" style="justify-content: flex-end;">

                            <div id="modal" class="modal is-clipped">
                                <div class="modal-background"></div>
                                <div class="modal-content background-withe">
                                    <div style="margin: 1rem;">
                                        <p class="subtitle"><strong>Löschen</strong></p>
                                        <p>Bist du dir sicher, dass du dein Profil löschen möchtest?</p>
                                        <div class="buttons center" style="margin-top: 2rem;">
                                            <button id="profil-modal-button-keep"
                                                class="button background-green-light text-light button-bearbeiten">
                                                <strong>Profil behalten</strong>
                                            </button>
                                            <button class="button background-red-light text-light">
                                                <strong>Profil löschen</strong>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button id="profil-button-delete" class="button background-red-light text-light">
                                <span class="icon is-small text-light">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </button>

                        </div>
                    </div>
                </div>

            </section>

        </main>

    </div>

</body>

</html>