<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Karteikasten anschauen</title>

    <link rel="icon" href="/static/res/Favicons/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/styleguide.css">
    <link rel="stylesheet" href="/static/css/hexagon.css">
    <link rel="stylesheet" href="/static/css/grids/view-grid.css">
    <link rel="stylesheet" href="/static/css/headline.css">

    <!-- <link rel="stylesheet" href="css/debug.css"> -->

    <style>
        #form {
            margin: 2rem 2rem 2rem 0px;
        }

        .notification {
            padding: 0.5rem 0.75rem;
        }

        .field-label {
            min-width: 5rem;
            max-width: 5rem;
        }

        .content {
            height: 30vh;
        }

        .hexagon.is-small {
            margin-left: 0.5rem;
        }

        .is-active {
            background: var(--color_green_dark) !important;
            color: var(--text_light);
        }
    </style>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/scripts/sha512.min.js"></script>
    <script type="text/javascript" src="/static/scripts/script.js"></script>

</head>

<body>
    <header>
        <nav id="placeholder-navbar" class="navbar background-green-light">{{ template "navbar" .Navbar }}</nav>
    </header>

    <div class="columns is-fullheight">

        <aside id="placeholder-sidemenu"
            class="menu column is-narrow is-sidebar-menu is-hidden-touch background-blue-dark no-padding">
            {{ template "sidemenu" .Sidemenu }}
        </aside>

        <main class="column is-flex">

            <section id="grid" class="is-fullwidth has-margin-maincontent">
                <div id="description">
                    <h1 class="title has-subtext">Karteikasten anschauen</h1>
                    <p class="subtext">Hier kannst du dir eine beliebige Karte anschauen ohne sie zu bearbeiten.</p>
                </div>


                {{ block "headline" .Headline }}
                <div id="headline" class="top-border-green-light background-withe">
                    <div class="headline-item">
                        <p class="headline-title">Name</p>
                        <p><strong>{{ .Name }}</strong></p>
                    </div>
                    <div class="headline-item">
                        <p class="headline-title">Kategorie</p>
                        <p>
                            <strong>
                                {{ .Kategorie }}
                                <span class="icon is-small">
                                    <i class="fas fa-caret-right"></i>
                                </span>
                                {{ .SubKat }}
                            </strong>
                        </p>
                    </div>
                    <div class="headline-item">
                        <p class="headline-title">Erstellt von</p>
                        <p><strong>{{ .Ersteller }}</strong></p>
                    </div>
                    <div class="headline-item">
                        <p class="headline-title">Fortschritt</p>
                        <p><strong>{{ .Fortschritt }} %</strong></p>
                    </div>
                    <div class="headline-item">
                        <div class="hexagon">
                            <div class="count">
                                <p>{{ .Anzahl }}</p>
                                <span>Karten</span>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}

                <div id="cards" class="has-overflow-y">

                    {{ range $i, $v := .Karten }}
                    <a href="/karteikasten/view/{{ $.KastenID }}?karte={{ $i }}"
                        style="text-decoration: none; color: black;">
                        <div
                            class="notification background-withe top-border-green-light {{ if .Aktiv }} is-active {{ end }}"
                            style="margin-bottom: 1rem;">
                            <p>
                                # {{ $v.Nr }}
                            </p>
                            <strong>{{ $v.Titel }}</strong>
                            <div class="buttons is-invisible">
                                <button class="button flex-right background-green-light text-light">
                                    <strong>Bearbeiten</strong>
                                </button>
                                <button class="button background-red-light">
                                    <span class="icon is-small text-light">
                                        <i class="fas fa-trash-alt"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </a>
                    {{ end }}

                </div>

                <div id="build" class="top-border-green-light background-withe ">
                    <div id="form">

                        <div class="field is-horizontal">
                            <div class="field-label center-vertical">
                                <label class="label">Titel</label>
                            </div>
                            <div class="field-body">
                                <span id="edit-input-title" class="center-vertical" type="text" placeholder="Titel">
                                    <strong>{{ .Titel }}</strong>
                                </span>
                                <div class="hexagon is-small flex-right {{ if not .F0 }} is-inactive {{ end }}">
                                    <div class="count-single">
                                        <p id="edit-text-anzahl">0</p>
                                    </div>
                                </div>
                                <div class="hexagon is-small {{ if not .F1 }} is-inactive {{ end }}">
                                    <div class="count-single">
                                        <p id="edit-text-anzahl">1</p>
                                    </div>
                                </div>
                                <div class="hexagon is-small {{ if not .F2 }} is-inactive {{ end }}">
                                    <div class="count-single">
                                        <p id="edit-text-anzahl">2</p>
                                    </div>
                                </div>
                                <div class="hexagon is-small {{ if not .F3 }} is-inactive {{ end }}">
                                    <div class="count-single">
                                        <p id="edit-text-anzahl">3</p>
                                    </div>
                                </div>
                                <div class="hexagon is-small {{ if not .F4 }} is-inactive {{ end }}">
                                    <div class="count-single">
                                        <p id="edit-text-anzahl">4</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">Frage</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="content">{{ .Frage }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">Antwort</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="content">{{ .Antwort }}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </section>

        </main>

    </div>

</body>

</html>