<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Willkommen bei BrainTrain</title>

    <link rel="icon" href="/static/res/Favicons/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/styleguide.css">

    <!-- <link rel="stylesheet" href="css/debug.css"> -->

    <style>
        @media (max-width: 768px) {
            #content-text {
                max-width: 20rem;
            }
        }

        @media (min-width: 769px) and (max-width: 1279px) {
            #content-text {
                max-width: 30rem;
            }
        }

        @media (min-width: 1280px) {
            #content-text {
                max-width: 40rem;
            }
        }

        #sidemenu-element-home {
            background: var(--color_blue_light);
        }
    </style>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/scripts/script.js"></script>

</head>

<body>
    <header>
        <nav class="navbar background-green-light">{{ template "navbar" .Navbar }}</nav>
    </header>

    <div class="columns is-fullheight">

        <aside id="placeholder-sidemenu"
            class="menu column is-narrow is-sidebar-menu is-hidden-touch background-blue-dark no-padding">
            {{ template "sidemenu" .Sidemenu }}
        </aside>

        <main class="column center">
            <div class="notification background-withe top-border-green-light has-margin-maincontent">
                <div style="padding: 3vh 8vw;">
                    <h1 class="title center is-size-2-widescreen is-size-3-tablet is-size-5"
                        style="margin-bottom: 7vh;">Willkommen bei
                        <span class="text-green-dark">&nbsp;Brain</span>
                        <span class="text-green-light">Train</span>
                    </h1>

                    <p id="content-text" class="is-size-3-widescreen is-size-4-tablet is-size-6 has-text-centered ">
                        Hier haben sich
                        <strong>{{ .Nutzer }} Nutzer</strong> angemeldet und zusammen
                        <strong>{{ .Karten }} Lernkarten</strong> in
                        <strong>{{ .Karteien }} Karteien</strong> erstellt.
                    </p>
                </div>

            </div>
        </main>

    </div>

</body>

</html>